<% provide :page_title, 'Log In' %>
<% show_navbar('Log In') %>
    <h1> Enter in system </h1>
<%=form_with url: session_path do |f|%>
    <div class='row'>
        <div class='col-6'>
            <%=f.text_field :phone, placeholder: 'Input your phone', class: 'mb-3 form-control' %>
            <%=f.password_field :password, placeholder: 'Input password', class: 'mb-3 form-control' %>
            <div class='form-check mb-3'>
                <%=f.check_box :remember_me, value: 1,  class: 'form-check-input' %>
                <%=f.label :remember_me, class: 'form-check-label' %>
            </div>
        <div>
            <%=f.submit 'Log In', class: 'btn btn-success' %>
        </div>
        </div>
    </div>
<%end%>